.course-table-headers,
.course-table-row{
	cursor: pointer;
	&:hover{
		background-color: $gray;
	}

	@include container($wrapper-width);
	padding: .5em;

	&:nth-child(odd){
		background-color: $light-gray;

		&:hover{
			background-color: $gray;
		}
	}

	.header{
		display: none;

		@include breakpoint(650px){
			display: block;
		}
	}

	.course{
		margin-bottom: 1em;

		@include breakpoint(650px){
			@include span(first 4 of 12);
			margin-bottom: 0;
		}
		

		.course-title{
			font-weight: bold;
			text-transform: capitalize;
		}
	}

	.details{
		margin-bottom: 1em;

		@include breakpoint(650px){
			margin-bottom: 0;
			@include span( 6 of 12 );
		}

		.full-description{
			margin: 1em 0;
			height: auto;
			opacity: 0;

			&.ng-hide-add.ng-hide-add-active,
			&.ng-hide-remove.ng-hide-remove-active {
			  -webkit-transition: all linear 0.3s;
			  transition: all linear 0.3s;
			}

			&.ng-hide {
			  opacity: 0;
			}

		}
	}

	.mode{
		margin-bottom: 1em;
		@include breakpoint(650px){
			margin-bottom: 0;
			@include span( last 2 of 12 );
		}
	}

}

.controls{
	margin: 2em 0;
	border: 1px solid $light-gray;
	padding: 1em;

	button{
		background-color: $gray;
		color: $black;
		transition: all .3s ease;

		height: 40px;
		line-height: 40px;
		padding: 0 1em;
		margin: 0 0 0 0;

		&:hover{
			background-color: $light-gray;
		}
	}

	@include container($wrapper-width);
	.global{
		// @include span( first 6 of 12 );
		// @include span( last 6 of 12 );
		@include span( first 12 of 12 );

		.search{
			// @include span(first)
		}

		.feedback{
			color: red;
		}

		.reset{
			float: right;
		}
	}

	.filters{
		// @include span( last 6 of 12 ); 
		// @include span( first 6 of 12 ); 
		@include span( last 12 of 12 ); 

		select{
			@include breakpoint(650px){
				@include gallery(6 of 12);
			}
			
		}
	}

}

.page-template-page-t-programs .controls{
	.global{
		// @include span( first 6 of 12 );
		// @include span( last 6 of 12 );
		@include span( first 12 of 12 );

		.search{
			// @include span(first);
		}

		.filter{
			@include span( 3 of 12 )
		}

		.feedback{
			color: red;
		}

		.reset{
			float: right;
		}


	}
}

.button,
button{
	margin: 1em 0;
	border: none;
	background-color: $yellow;
	padding: 1em;
}