/*********************
LINK STYLES
*********************/

a, a:visited {
    text-decoration: none;
    transition: all .3s ease;
    color: $link-color;
    /* on hover */
    &:hover, &:focus {
        color: $link-hover;
    }
    /* on click */
    &:active {}
    /* mobile tap color */
    &:link {
        /*
    this highlights links on iPhones/iPads.
    so it basically works like the :hover selector
    for mobile devices.
    */
        -webkit-tap-highlight-color: rgba( 0, 0, 0, 0.3);
    }
}

button, .button {
    margin: 1em 0;
    border: 1px solid $gray;
    background-color: $gray;
    color: $black;
    padding: 1em;
    transition: all .3s ease;
    &:hover {
        border: 1px solid $yellow;
        background-color: $yellow;
        color: $white;
    }
    a, a:visited {
        color: $black;
        transition: all .3s ease;
        text-decoration: none;
        /* on hover */
        &:hover, &:focus {
            color: $white;
        }
        /* on click */
        &:active {}
        /* mobile tap color */
        &:link {
            /*
      this highlights links on iPhones/iPads.
      so it basically works like the :hover selector
      for mobile devices.
      */
            -webkit-tap-highlight-color: rgba( 0, 0, 0, 0.3);
        }
    }
}