.program-link{
	display: block;
	width: 100%;
	height: 100%;
}


a.program-link, a.program-link:visited {
  text-decoration: none;
  transition: all .3s ease;
  color: $black;

  /* on hover */
  &:hover, &:focus {
    color: $black;
  }

}